.basic-note {
    visibility: visible;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAFg0_mQHl0CFMQc7OnB_8ltQFNwD0UTyCZwUEQjbSlRmiNc6T');
    background-size: cover;
  }