<div class="basic-note">
    <h3>{{ note.content }}</h3>
    <span class="button is-small is-info" (click)='addHeartToNote(note.hearts)'>
    Curtir <i class="fa fa-heart" style="margin-left: 5px;"></i>
  </span>
    <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Apagar</span>
    <p>Itens {{ note.hearts || 0 }}</p>
</div>

