.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAFg0_mQHl0CFMQc7OnB_8ltQFNwD0UTyCZwUEQjbSlRmiNc6T');
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }