<!--<h1>Anotações</h1>
<hr>

<input [(ngModel)]="content" placeholder="Escreva sua Nota" class="input" name="note">

<button class="button is-success" (click)="clickHandler()" [disabled]="content?.length < 2 || content?.length > 200">
  Salva Nota
  <i class="material-icons">
    wifi_tethering
    </i>
</button>
<hr>


-->

<mat-card class="example-card">
        <form class="example-form">              
                  <div class="button-row">
                    <button
                    mat-button                                      
                        (click)="clickHandler()">
                        <i class="material-icons">gavel
                        </i>
                      </button>
                 </div>
        </form>

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Suas Notas</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
              
          <p>
                <mat-list *ngFor="let note of notes | async">
                        <mat-list-item>{{note.content}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><i class="material-icons">
                sentiment_satisfied_alt
                </i></button>
          <button mat-button><i class="material-icons">
                speaker_phone
                </i></button>
        </mat-card-actions>
      </mat-card>

