<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/first-page">Pagar<i class="material-icons">
        payment
        </i></a>
      <a mat-list-item href="/second-page">Receber<i class="material-icons">
        attach_money
        </i></a>
      <a mat-list-item href="/third-page">Agendar<i class="material-icons">
        av_timer
        </i></a>
      <a mat-list-item href="/notes">Notas<i class="material-icons">
        add_alert
        </i></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon"><i class="material-icons">
            fingerprint
            </i></mat-icon>
      </button>
      <span>SISTEMA FINANCEIRO</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
